
body{
	background: url(../images/bj.jpg) repeat fixed center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
#box {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(153, 153, 153,0.5);
	padding: 20px;
}
main h1{
    align-items: center;
    justify-content: center;
}

#nr {
    display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  
	
}

.FizzBuzz {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    justify-content: center;
    align-items: center;
    text-align:center;
    background: linear-gradient(to top, #dca329 0%,#367399 100%);
    
}

.Fizz {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    background-color: #ff3262;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    justify-content: center;
    align-items: center;
    text-align:center;
    background: linear-gradient(to top, #4826c4 0%,#76809c 100%);
}

.Buzz {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    background-color: #ff8132;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    justify-content: center;
    align-items: center;
    text-align:center;
    background: linear-gradient(to top, #a7aa9e 0%,#719172 100%);
}

.Empty {
    display: grid;
    width: 90px;
    height:90px;
    margin:10px;
    color:white;
    background-color: #32ff84;
    border-radius:8px;
    border-style:solid;
    border-width:1px;
    border-color:#000;
    justify-content: center;
    align-items: center;
    text-align:center;
    background: linear-gradient(to top, #2083e6 0%,#776484 44%,#969da3 100%);
}

#box3 {
    background-color: rgb(255, 255, 255,0.5);
    padding-top: 10px;
    padding-bottom: 10px;
	padding: 10px;
}

.box3-1 {
    width: 100%;
    background-color: #adb1b4;
    float:left;
    border-style:double;
    padding:20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    width:700px;
    height: 100px;
}

.sliderLabel {

}

#elWidth {
    width: 45%;
    height: 15px;
    border-radius: 5px;  
    background-color: rgb(255, 255, 255,0.5);
    outline: none;   
	padding: 10px;
}



#elHeight {
    width: 45%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;  
}

#box4 {
    
    background-color: rgb(210, 210, 210);
	padding: 10px;
    display: flex;
          flex-wrap: wrap;
          flex-direction: row;
    border-style:double;
    padding:20px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
    width:250px;
    height: 300px;
}


#box1 {
    background-color: rgb(220, 220, 220);
    padding-top: 10px;
    padding-bottom: 10px;
	padding: 10px;
    border-style:dotted;
    padding:30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:20px;
    margin-bottom: 30px;
    
}

#box2 {
    background-color: rgb(230, 230, 230);
    padding-top: 10px;
    padding-bottom: 10px;
	padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#customBox {
    background-color: rgb(235, 235, 235);
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#an {
    padding: 3px;
    border-radius: 5px;
    background-color: #1d5070;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
	height: 50px;
	font-size: 20px;
}

#an1 {
    padding: 3px;
    background-color: #15637b;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
	height: 50px;
	font-size: 20px;
}
#an2 {
    padding: 3px;
    border-radius: 5px;
    background-color: #176579;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
	height: 50px;
	font-size: 20px;
	
}

#an:hover {
    background-color: #9e5085;
	height: 60px;
	border-radius: 360px;
}

#an1:hover {
    background-color: #390b54;
	height: 60px;
	border-radius: 360px;
}

#an2:hover {
    background-color: #34a96d;
	height: 60px;
	border-radius: 360px;
}

@media (max-width: 992px) {
    #box {
        width: 500px;
        height: 100%;
        margin : 0 auto;
        background-color: rgb(153, 153, 153);
    }

    #nr {
        display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
 
    }

    input[type=number]{
        width: 100px;
    }


}
h3 {
    display: inline;
    font-size: 16px;
    font-weight: 100;
}


@media (max-width: 576px) {
    #box {
        width: 300px;
        height: 100%;
        margin : 0 auto;
        background-color: rgb(153, 153, 153);
    }

    #nr {
        display: inline;
    }

    input[type=number]{
        width: 50px;
    }

}


